<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Каталог товарів</h1>
    <form action="" method = "post">
        <select name="category" id="">
            <option value="all">Усі Товари</option>
            <option value="candies">Цукерки</option>
            <option value="cakes">Торти</option>
        </select>
        <button>Фільтрувати</button>
    </form>
    {% for product in list_products %}
        <h2>{{product.name}}</h2>
        <h3>{{product.price}} грн</h3>
        <a href="/create-payment?productId={{product.id}}"> Купити </a>
        <hr>
    {% endfor %}
  </body>
</html>
